[Unit]
Description=vouquet florister(daniel BTC_JPY coinzcom 0.01)
After=syslog.target
After=network.target

[Service]
LimitMEMLOCK=infinity
LimitNOFILE=65535
Type=simple
User=vouquet
Group=vouquet
WorkingDirectory=/var/service/vouquet
ExecStart=/var/service/vouquet/bin/vqt_florister -c /var/service/vouquet/etc/vouquet.conf
Restart=always
StandardOutput=append:/var/log/vqt_florister.log
StandardError=append:/var/log/vqt_florister-err.log

[Install]
WantedBy=multi-user.target
